.todo-skeleton {
  list-style: none;
  width: 100%;
  height: 55px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(82, 82, 82);
  border-radius: 0.5rem;
  margin: 0.5rem 0;
  gap: 0.5rem;
}

.todo-skeleton p {
  flex: 1 1 100%;
  background-color: #4e4e4e;
  width: 100%;
  height: 15px;
  border-radius: 0.5rem;
}
.todo-skeleton button {
  width: 32px;
  height: 32px;
  background-color: #5e5e5e;
}